.pokedex {
    background-color: red;
    width: 660px;
    min-width: 600px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 10px black solid;
}