.header-link {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-link img {
    width: 200px;
}

.header-title {
    margin-top: 20px;
    margin-bottom: 20px;
}