* {
  font-family: monospace;
}

body {
  background-color: cyan;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Modifier la couleur de la barre de défilement */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Modifier la couleur du curseur */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Modifier la couleur de fond au survol du curseur */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}